{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 100vh;"> <!-- Задаем высоту контейнера -->
        <!-- Левая колонка с текстовой формой -->
        <div class="col-md-6 d-flex flex-column" style="padding: 20px; overflow-y: auto;">


            <p>
                Письмо о « <input type="text" id="about" name="about" oninput="sendData()" required>» <br>
                Объект:  <input type="text" id="object" name="object" oninput="sendData()" required> <br> 
                Адрес: <input type="text" id="address" name="address" oninput="sendData()" required> 
                Кому: <input type="text" id="whom" name="whom" oninput="sendData()" required> <br>
                Обращение: <input type="text" id="dear" name="dear" oninput="sendData()" required> <br>
                Тело: <textarea id="body" name="body" style="
                    width: 50%;
                    overflow: hidden; /* Скрываем полосу прокрутки */
                    resize: none; /* Запрет на изменение размера вручную */"

                placeholder="Введите текст..."></textarea>
            </p>

            <button type="button" class="btn btn-primary mt-3" onclick="clearStorage()">Очистить поля</button>
        </div>

        <!-- Правая колонка с предпросмотром PDF -->
        <div class="col-md-6" style="padding: 0;">
            <object id="pdfPreview" type="application/pdf" width="100%" height="100%">
                <p>Ваш браузер не поддерживает просмотр PDF. <a href="{{ pdfsrc }}">Скачайте PDF файл</a>.</p>
            </object>
            <a href="/download_pdf" download>
                <button type="button" class="btn btn-primary mt-3" >Скачать PDF</button>
            </a>
        </div>
    </div>
</div>

<!-- Подключение Bootstrap JS и других зависимостей -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>

<script>
    const socket = io();

    const textarea = document.getElementById('body');

    textarea.addEventListener('input', function() {
        this.style.height = 'auto'; // Сбрасываем высоту
        this.style.height = this.scrollHeight + 'px'; // Устанавливаем новую высоту
        
        const text = textarea.value; // Получаем текст из textarea

        sendData();
        

    });

    // Функция для загрузки данных из localStorage
    function loadData() {
        const fields = ['about', 'object', 'address', 'whom', 'dear', 'body'];
        
        fields.forEach(field => {
            const value = localStorage.getItem(field);
            // if (value) {
            document.getElementById(field).value = value; // Заполняем поле данными
            
        });
        const formData = {};

        fields.forEach(field => {
            formData[field] = document.getElementById(field).value;
        });
        socket.emit('update_data_apluseletter', formData);

    }
    

    // Функция отправки данных на сервер при каждом изменении
    function sendData() {
        const fields = ['about', 'object', 'address', 'whom', 'dear', 'body'];
        const formData = {};
    
        fields.forEach(field => {
            formData[field] = document.getElementById(field).value;
            const value = formData[field]
            localStorage.setItem(field, value); // Сохраняем данные в localStorage
        });

        // Отправляем данные на сервер через WebSocket
        socket.emit('update_data_apluseletter', formData);
    }

    // Получение обновленного PDF и отображение в object
    socket.on('update_pdf', function(data) {
        if (data.error) {
            console.error('Error generating PDF:', data.error);
        } else {
            // Преобразуем строку обратно в бинарный PDF файл
            const pdfBlob = new Blob([new Uint8Array(data.pdf_data.split('').map(char => char.charCodeAt(0)))], { type: 'application/pdf' });
            const pdfUrl = URL.createObjectURL(pdfBlob);
            document.getElementById('pdfPreview').data = pdfUrl;
        }
    });

    function clearStorage() {
        localStorage.clear();
        loadData();
        alert('Очищено!')
    }

    window.onload = loadData;
</script>
{% endblock %}